<!DOCTYPE html>
<html lang="en">
<head>
<title>Layout</title>
  <meta charset="UTF-8">
  <meta name="description" content="html">
  <meta name="keywords" content="HTML">
  <meta name="author" content="Bartosz Szyjka">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Tokio</h1>
  <p>okio (jap. 東京都ⓘ Tōkyō-to) – stolica i największe miasto Japonii, położone na południowo-wschodnim wybrzeżu Honsiu i zarazem największy obszar metropolitalny na świecie – liczący 37 115 000 mieszkańców (stan na czerwiec 2024) Spadek -0.21% od czerwca 2023. Nazwa Tōkyō (jap. 東京) oznacza „Wschodnią Stolicę”[3]. Do 1868 r. miasto nazywało się Edo[3].</p>

</body>
</html>

