# ignoruj wszystko w cpp
/notatki/cpp/*
.idea
# ignoruj folder .vscode w cpp
/notatki/.vscode/

# poza katalogami (żeby Git mógł wchodzić do podfolderów)
/notatki/cpp/**/

# śledź tylko pliki .cpp
!/notatki/cpp/**/*.cpp
