<!DOCTYPE html>
<html lang="en">
<head>
<title>Layout</title>
  <meta charset="UTF-8">
  <meta name="description" content="html">
  <meta name="keywords" content="HTML">
  <meta name="author" content="Bartosz Szyjka">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Paryż</h1>
   <p>Paryż (fr. Paris, wymowa) – stolica i najludniejsze miasto Francji, a także departament (nr 75), w regionie Ile-de-France. Położone jest w północnej części kraju, w centrum Basenu Paryskiego, nad Sekwaną. Stanowi centrum polityczne, ekonomiczne i kulturalne kraju.</p>

</body>
</html>

